{% load chartkick %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>Chartkick.py demo (sources examples/demo)</title>

        <!--
        <script src="http://www.google.com/jsapi"></script>
        <script src="http://ankane.github.io/chartkick/chartkick.js"></script>
        -->

        <!--
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://ankane.github.io/chartkick/chartkick.js"></script>

    </head>
    <body>
        {% line_chart exchange with min=0.4 id='rates' %}
        {% pie_chart browser_stats with library={"title":"Browser Statistics, May 2013"} %}
        {% column_chart browser_stats %}
        {% line_chart temperature with id='temperature' %}
        {% bar_chart sizes with id='sizes' %}
        {% area_chart areas with id='areas' %}
    </body>
</html>