<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Untitled{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="django graph pages">
    <meta name="author" content="rbell01824@gmail.com">

    {% load staticfiles %}

    <!-- js -->
    {# <script src="http://www.google.com/jsapi"></script>#}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://ankane.github.io/chartkick/chartkick.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://ankane.github.io/chartkick/chartkick.js"></script>

    <!-- styles -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- extrahead  -->
    {% block extrahead %}
    {% endblock extrahead %}
</head>

<body>

<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="/">Django Graph Pages</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="">List</a></li>
                <li><a href="">Add</a></li>
                <li><a href="">Edit</a></li>
                <li><a href="demo/chartkick">Chartkick Demo</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data List <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">CIA List</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Countries List</a></li>
                        <li class="dropdown-header">Nav header</li>
                    </ul>
                </li>
                <li><a href="admin">Admin</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- content -->
{% block content %}
{% endblock %}

</body>
</html>


