{% comment %}

This is the default template for graphpage graphs.

# todo 1: update this comment

It has the following overall structure:

text_before_graph

graphs

text_after_graph

Graphs consists of a series of rows that may contain 1 to 12 graphs in a bootstrap3 layout.

{% endcomment %}
{% load render_as_template %}       {# # todo 1: put render as template in default template tags, also bootstrap3 #}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_messages %}

{% comment %}
This section holds any content defined in graphpage (GraphPage) class interface.

As a general proposition, there should ONLY be either a graphpage or the traditional row style interface.
{% endcomment %}
{% if graphpage %}
    <div class="row">
        <div class="col-md-12" id="id_graphpage">
            {% render_as_template graphpage.render %}
        </div>
    </div>
{% endif %}

{#<div class="row">#}
{#    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
{#        <p>Top 22 countries by land area</p>#}
{#    </div>#}
{#</div>#}
{#pie_chart data1{% pie_chart data1 %}#}
{#<div class="row">#}
{#<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
{#    <p><strong>This markdown text shold be bold</strong></p>#}
{#</div>#}
{#</div>#}
{#<div class="row">#}
{#    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
{#        <h1>This is a markdown title</h1>#}
{##}
{#        <p>Top 22 countries by population</p>#}
{#    </div>#}
{#</div>#}
{#column_chart data1{% column_chart data1 %}#}

{% comment %}
This section holds any content to appear before the graphs.  The content is passed by the context variable
"text_before_graph".  It may contain markdown and/or of raw HTML.
{%  endcomment %}
{% if text_before_graph %}
    <div class="row">
        <div class="col-md-12">
            {{ text_before_graph | graphpage_markdown }}
        </div>
    </div>
{% endif %}

{% comment %}
This section holds the graphs.
{%  endcomment %}
{% for graph_row in graph_rows %}
    <div class="row">
        {% for graph in graph_row %}
            <div class="col-md-{{ graph.width }}">
                {% render_as_template graph.graph %}
            </div>
        {% endfor %}
    </div>
{% endfor %}

{% comment %}
This section holds any content to appear after the graph.  The content is passed by the context variable
"text_after_graph".  It may contain markdown and/or of raw HTML.
{%  endcomment %}
{% if text_after_graph %}
    <div class="row">
        <div class="col-md-12">
            {{ text_after_graph | graphpage_markdown }}
        </div>
    </div>
{% endif %}
